  .CollectionsContainer {
      width: 60%;
      height: 100%;
      margin-right: 330px;
      text-align: center;
      padding: 15px;
  }

  .FirstSection {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px;
      gap: 22px;
  }


  .FirstSection h4 {
      font-family: sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 140.69%;
      /* identical to box height, or 22px */
      display: flex;
      align-items: center;
      font-weight: 700;
      color: #3a2d2d;
  }

  .FirstSection p {
      font-family: sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 146.69%;
      /* identical to box height, or 22px */
      display: flex;
      align-items: center;
      font-weight: 600;
      color: rgba(103, 159, 210, 1);

  }


  .button {
      width: 150px;
      height: 30px;
      padding-bottom: 25px;
      font-family: sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 30px;
      /* or 150% */
      text-align: center;
      background-color: #2972B5;
      border-radius: 6px;
      border: none;
      color: #FFFFFF;
      text-decoration: none;
  }

  .button:hover {
      background-color: #115697;
      color: #ffffff
  }

  .searcheng {
      border: 1.5px solid #403939;
      border-radius: 2.5px;
      width: 300px;
      height: 30px;
      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-style: italic;
      font-size: 15px;
      line-height: 12px;
      text-align: center;
      background-color: #e6dede;
      border-radius: 4px;
      border: none;

      color: #403939;

  }

  .CollSecondSection p {
      display: flex;
      justify-content: center;
      font-family: sans-serif;
      font-weight: 650;
      font-style: Medium;
      font-size: 17px;
      line-height: 100%;
      letter-spacing: 0%;
      margin-left: -640px;
      padding-top: 20px;
  }

  .CollThirdSection {
      display: flex;
      justify-content: center;

      gap: 20px;
      margin-left: 120px;
  }

  .CollButton1,
  .CollButton2,
  .CollButton3,
  .CollButton4,
  .CollButton5,
  .CollButton6 {
      margin-left: 6px;
      margin-right: 6px;
      text-decoration: none;
      color: rgba(26, 16, 54, 0.4);
      font-family: Poppins;
      font-weight: 500;
      font-style: Medium;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0%;

  }

  .CollThirdSection p {
      Color: rgba(99, 122, 135, 1);

  }

  .CollFourtSection{
    margin-top: 20px;
    margin-left: -8px;
  }