  .PofileContainer{
    width: 60%;
    height: 100%;
    margin-left: 135px;
    text-align: center;
    padding: 0;
  }

  .FirstSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    gap: 22px;
}


.FirstSection h4 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 140.69%;
    /* identical to box height, or 22px */
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #3a2d2d;
}

.FirstSection p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 146.69%;
    /* identical to box height, or 22px */
    display: flex;
    align-items: center;
    font-weight: 600;
    color: rgba(103, 159, 210, 1);

}


.button {
    width: 150px;
    height: 30px;
    padding-bottom: 25px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    /* or 150% */
    text-align: center;
    background-color:  #2972B5;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    text-decoration: none;
}

.button:hover {
    background-color:#115697;
    color: #ffffff
}

.searcheng {
    border: 1.5px solid #403939;
    border-radius: 2.5px;
    width: 300px;
    height: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    line-height: 12px;
    text-align: center;
    background-color: #e6dede;
    border-radius: 4px;
    border: none;

    color: #403939;

}
